modal-branding.modal
  atom-icon-close
  div.content
    atom-modal-h2(h2_str = "{'Branding'}")
    div.wrap-explain
      p ブランドを考えるのはとても面白いですよね。僕は好きです。ブランディングというと「前よりもかっこよくする」というイメージが強いかもしれませんが、単純にかっこいいデザインを提供することではないはずです。
      p とにかくトレンディでカッコよくするのではなく、常に「それらしさ」を考えぬく必要があるとおもっています。
      p それはもしかしたら、すこし地味だったり弱そうだったり、かっこいいとはいえないものかもしれません。でも、一目見て思いや顔が見えるようなアウトプットをすることが大事だと思い、制作に取り組んでいます。
    item-work-card(content = '{cardContents.getitLogo}')
    item-work-card(content = '{cardContents.getitBusinesscard}')
    item-work-card(content = '{cardContents.renatireLogo1}')
    item-work-card(content = '{cardContents.renatireLogo2}')
    item-work-card(content = '{cardContents.misskeioLogo}')
    item-work-card(content = '{cardContents.koohLogo}')
    item-work-card(content = '{cardContents.bookhubLogo}')
    item-work-card(content = '{cardContents.winning}')

  style(scoped, type='less').
    :scope {
      z-index: 1001;
      display: none;
      width: 95%;
      height: 95%;
      top: 2.5%;
      max-width: 800px;
      background-color: rgba(250,250,250,0.8);
      overflow-x: hidden;
      overflow-y: scroll;
      .content {
        margin: 0 auto;
        max-width: 700px;
        width: 95%;
        .wrap-explain {
          display: block;
          padding-bottom: 36px;
          border-bottom: solid 0.1px #4A4A4A;
        }
      }
    }
  script.
    this.cardContents = {
      getitLogo: {
        img_src: ['./img/works/branding/getitlogo2.png','./img/works/branding/getitlogo1.png'],
        link_href: '',
        h2_str: 'GetIt',
        p_str: '株式会社GetItはプログラミング教育を実践的に行う企業です。「Get it!」というフレーズには「わかった！」という意味があり、GetItはこの「わかった！」という気持ちを何よりも大事にしています。それを表現するため「わかった！」を象徴していて、なおかつクリエイティブのシンボルである電球をタイプにあしらったロゴを制作しました。',
        used_skills: 'Illustrator / Photoshop',
      },
      getitBusinesscard: {
        img_src: ['./img/works/branding/businesscard1.jpg','./img/works/branding/businesscard2.jpg'],
        link_href: '',
        h2_str: 'Businesscard',
        p_str: '前述した株式会社GetItの名刺制作です。配色によってポップなニュアンスをだしながら、マテリアルデザインを模したレイアウトに仕上げ、先端性を感じさせられるようなデザインにしました。また、この名刺はそれぞれの役職のクリエイティブ領域に応じて、アイコンのデザインを変えています。',
        used_skills: 'Illustrator / Photoshop',
      },
      renatireLogo1: {
        img_src: ['./img/works/branding/renatire1.jpg'],
        link_href: '',
        h2_str: 'Renatire',
        p_str: 'Renatireは弾丸をアクセサリーに変え、平和意識を世界に発信するブランドです。Renatireは「生まれ変わる」という意味で「命を奪うために人の手でつくりかえられたものを、だれかの側にいられるような存在に生まれ変わらせる。」という思いがありました。このロゴは鉛玉にRunatireの頭文字を刻印することで、これから弾丸が生まれ変わる様子を表現しています。',
        used_skills: 'Illustrator / Photoshop',
      },
      renatireLogo2: {
        img_src: ['./img/works/branding/renatire2.jpg'],
        link_href: '',
        h2_str: 'Renatire',
        p_str: 'このロゴは前述したRenatireの最終案の候補でした。ロゴに込めた意味合いは同じなのですがこちらの方が弾丸のシンボルが強調されますね。ただ「このロゴちんこみたい」といわれて撃沈しました。そんなこといわれたらそれにしかみえないじゃないですか。そんな風にみえる人はそんな多くなかったんですがまあしょうがないですね。ネタとしておもしろいので載せました。',
        used_skills: 'Illustrator / Photoshop',
      },
      misskeioLogo: {
        img_src: ['./img/works/branding/misskeioLogo.png'],
        link_href: '',
        h2_str: 'Misskeio2016',
        p_str: 'MissKeio2016のwebデザイン・エンジニアリングをさせていただきました。ロゴについてもデザインのテイスト合わせるためリデザインしています。例年は「強い女性像」といった部分が強調されていましたが、今年は「初々しさ」のようなある意味での弱さも見せていきたいとのことでしたので、やわらかい配色にし、ロゴタイプもやや古風な王道感からモダンなニュアンスによせました。',
        used_skills: 'Illustrator / Photoshop',
      },
      koohLogo: {
        img_src: ['./img/works/branding/koohLogo1.png','./img/works/branding/koohLogo2.png'],
        link_href: '',
        h2_str: 'Kooh',
        p_str: '以前制作した自分のロゴです。個人事業主としてお仕事をいただくことがあるので用意しました。このロゴは「新しい視点に目を向ける」様子を自分の名前である「Ko」をあしらって表現しました。全体のテイストが幾何学的なのは僕のアウトプットがテクノロジーを駆使したものが多いためです。',
        used_skills: 'Illustrator / Photoshop',
      },
      bookhubLogo: {
        img_src: ['./img/works/branding/bookhubLogo.png'],
        link_href: '',
        h2_str: 'BookHub',
        p_str: '昔つくった相互選書サービスBookHubのロゴです。ロゴタイプに装飾をするパターンでデザインしましたが、今見ると反省点が多いですね。矢印と本をあしらった「U」を合わせて選書した本を届ける様子をあらわしていました。デザインを勉強しはじめてすぐに全力でつくった覚えがあります。これは懐かしいです。',
        used_skills: 'Illustrator / Photoshop',
      },
      winning: {
        img_src: ['./img/works/branding/winningLogo.png'],
        link_href: '',
        h2_str: "Winning",
        p_str: '僕の制作の原点といってもいいでしょう。ここは自分が本当にお世話になったところです。Winningは本当にすばらしい塾なのですが、その魅力が伝わらず厳しい状況にあったことがありました。そんな時、すばらしい場所を残したいという思いで学び出したのがブランディングとそこに紐づくものづくりだったんです。今ではその魅力が伝わるようになり生徒も増えてきました。本来の魅力を伝えることの楽しさをここで知り、ものづくりの世界へと飛び込んでいったんです。',
        used_skills: 'HTML5 / CSS / Javascript / Jquery',
      },
    };






