atom-modal-h2
  div.wrap-h2
    h2 {opts.h2_str}

  style(scoped, type='less').
    :scope {
      display: flex;
      justify-content: center;
      margin: 32px 0px;
      h2 {
        font-size: 24px;
        padding-bottom: 4px;
        display: inline;
        text-align: center;
        border-color: #4A4A4A;
        border-bottom: solid;
        border-width: 2px;
      }
    }