atom-loading
  div.wrap-animation.f.flex-around.flex-middle
    div.ball.red-a
    div.ball.green-a
    div.ball.blue-a

  style(scoped, type='less').
    :scope {
      display: block;
      width: 100%;
      height: 100%;
      .wrap-animation {
        position: relative;
        width: 100%;
        height: 100%;
        .ball {
          display: block;
          width: 28px;
          height: 28px;
          border-radius: 50%;
        }
        .red-a {
          background-color: rgba(255,0,0,0.6);
        }
        .green-a {
          background-color: rgba(0,255,0,0.6);
        }
        .blue-a {
          background-color: rgba(0,0,255,0.6);
        }
        .activeAnim {
          animation: jumpAnim 2.0s linear infinite;
        }
      }

      /*--------------------------------*/
      @keyframes jumpAnim {
        from {
          transform:translateY(0px);
        }
        25% {
          transform:translateY(-30px);
        }
        50% {
          transform:translateY(0px);
        }
        75% {
          transform:translateY(30px);
        }
        to {
          transform:translateY(0px);
        }
      }

    }

  script.

    var activeBall = function(ball) {
      ball.classList.add('activeAnim');
    }

    var test = function() {
      var balls = $('.ball');
      if(balls[0]!=undefined){ 
        setTimeout(function(){ activeBall(balls[0]) }, 0);
        setTimeout(function(){ activeBall(balls[1]) }, 400);
        setTimeout(function(){ activeBall(balls[2]) }, 800);
        /*
        for(var i=0; i<balls.length; i++){
          setTimeout(activeBall(balls[i]), 400*i);
        }
        */
      }
    }

    setTimeout(test, 400);



    

